# pythonで管理不要なファイルをここに記載する

# ファイル種類
*.pyc

# /を含まない行（fileなど）
# .gitignore以下の全サブディレクトリ下にあるこの名前のファイル or ディレクトリを無視する
/__pycache__/

# 特定の拡張子を無視する場合はどこにも/を付けない
# *.o

# 特定のファイルを無視する場合は先頭に/を付ける
# /npm-debug.log

# 特定のディレクトリを無視する場合は先頭と末尾に/を付ける
# /bin/

# 末尾以外にのみ/を含む行（/file, /path/to/file, path/to/fileなど）
# .gitignoreが置いてあるディレクトリをカレントディレクトリとする相対パスで指定されるファイル or ディレクトリを無視する

# 末尾だけ/な行（directory/など）
# .gitignore以下の全サブディレクトリ下にあるこの名前のディレクトリを無視する

# 末尾以外にも末尾にも/を含む行（/directory/, /path/to/directory/, path/to/directory/など）
# .gitignoreが置いてあるディレクトリをカレントディレクトリとする相対パスで指定されるディレクトリを無視する

# !で始まる行（!/path/to/fileなど）
# !以降のパターン文字列が示すファイル or ディレクトリを無視しない
# 前の無視指定を上書きする
# 以降の無視指定に上書きされうる
